{
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true,
        "experimentalObjectRestSpread" : true
      }
    },
    "env": {
      "browser": true,
      "es6": true,
      "mocha": true
    },
    "extends": [
      "standard"
    ],
    "plugins": [
      "import",
      "mocha"
    ],
    "globals": {
      "__DEVSERVER__": true,
      "__DEVCLIENT__": true,
      "Buffer": true,
      "process": true,
      "global": true,
      "expect": true,
      "module": true,
      "require": true,
      "describe": true,
      "sinon": true,
      "logger": true
    }
}
